<header>
    <nav>
        <ul>
            <li>
                <a href="/add-products">Publier Un article</a>
            </li>
            <li>
                <a href="/">Shop</a>
            </li>
            <li>
                <a href="/cart">Cart</a>
            </li>
            <li>
                <a href="/admin-products">admin products</a>
            </li>
        </ul>
    </nav>
</header>